body {
	font-size:12px;
}
a {
	font-size:12px;
}
a:hover {
	font-size:12px;
}


.textbox
{
	font-size:12px;
}

.textarea
{
	font-size:12px;
}

.select
{
	font-size:12px;
}

.submenunew a{
	font-size:15px;
}

.submenunew a:hover{
	font-size:15px;
}


/* -------------------- */


.login_input{
	font-size:12px;
}
.welcometext{
	font-size:18px;
}
.we_are{
	font-size:24px;
}
.best_buddies{
	font-size:13px;
}
.tm{
	font-size:12px;
}
.heading{
	font-size:18px;
}
.mainlink{
	font-size:14px;
}
.mainlink a{
	font-size:14px;
}
.mainlink a:hover{
	font-size:14px;
}
.footertxt{
	font-size:11px;
}
	
/*My Style*/

.lbl_text
{
	font-size:12px;
}

.head_text
{
	font-size:16px;
}
.big_text
{
	font-size:16px;
}

.ValidationSummry
{
	font-size:10;
}

.btn
{
	font-size:12px;
}

.black_text
{
	font-size:12px;
}